.comments {
  margin-top: 10px;
}
.comments input[type="text"] {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.comment-list div {
  background-color: #fff;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 14px;
}
button {
  margin-top: 10px;
}
